/* Custom CSS for Create_wallet.js
Create_wallet.css */
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color :#EBEFF2;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}
.create-backcard {
    width: 550px;
    background-color: #ECF0F2; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 20px #D3DBE7, -0.5rem -0.5rem 20px white;
}
.create-backButton {
    margin-top: 15px;
    border: none;
    background: none;
    max-height: 60px;
    max-width: 60px;
}
.create-center-align {
    width: fit-content;
    margin: auto;
}
.create-top-align{
    width: 100%;
    position: relative;
    top: 2%;
}
.your-passphrase {
    width: 80%;
    margin: 20px auto;
}
h6 {
    width: fit-content;
    margin: auto;
}
p {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    justify-content: center;  
}
.padding-change {
    padding: 0rem 1rem;
}
.border-radius-change {
    border-radius: 10px;
}
.down-buttons {
    width: 80%;
    margin: 45px auto;
    display: flex;
    flex-direction: row;
}
.bttn {
    margin-left: 6rem;
}
.wrapper {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 50px;
  }
.phrase {
    background-color: rgba(209, 216, 219, 0.907);
    border-radius: 20px;
    text-align : center;
    color: black;
    font-weight: 600;
    display: flex !important; 
    justify-content: center !important;
    align-items: center;
  }
.logoImage {
    width: 10rem;
}
.hide-phrase {
    background-color: rgba(25, 23, 23, 0.774);
    width: 80%;
    height: 14.5rem;
    margin: auto;
    display: flex;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.display-none {
    display: none !important;
}
.eye-color {
    color: white ;
    cursor: pointer;
}
.copy-notification-box {
    background-color: #0d6efd;
    color: white;
    font-weight: 200%;
    width: 20rem;
    text-align: center;
    float: right;
    margin: 20px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.copy-notification-box.opacity {
    opacity: 1;
}
.copy-notification-box.slide-in {
    animation: slideIn 0.5s ease-in-out;
}
.copy-notification-box.slide-out {
    animation: slideOut 0.5s ease-in-out;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

